.header {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 1.6rem 2.4rem;

    .siteLogo  {
        justify-self: flex-start;

        height: 2.65rem;
    }

    .nav {
        display: flex;
        flex-direction: row;

        .navButton {
            font-weight: bold;
        }

        .divider {
            margin: 0 0.8rem 0 0.8rem;
        
            font-weight: bold;
            color: var(--accent);
        }
    }
}

@media (max-width: 400px) {
    .header {
        flex-direction: column;

        font-size: 1.3rem;

        .siteLogo {
            margin-bottom: 1rem;
        }

        .nav {
            width: 100%;
            justify-content: space-around;
        }
    }
  }