@import 'app/posts.scss';

.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;

  min-height: 100vh;
  width: 100%;

  padding: 1rem 3rem 6rem 1rem;
  margin: 0;

  * {
    width: min(100%, 650px);
  }

  .inline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    .rssLink {
      padding-right: 2.5rem;
      width: fit-content;
    }
  }

  .inlinePost {
    display: flex;
    flex-direction: column;
    padding: 0.5em 2em;
    gap: 0rem;

    margin: 1em 0 1em 1em;
    border-left: var(--accent) 2px solid;

    transition-property: box-shadow;
    transition-duration: 0.1s;

    @include longform-text;

    .title {
      margin: 0;
      a {
        text-decoration: underline;
      }
    }

    .info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      margin: 0;

      p {
        font-size: 0.8rem;
        color: var(--text-alt);
        font-weight: 700;
        width: fit-content;
        margin: 0;
      }
    }

    * {
      max-width: 100%;
      width: auto;
      height: auto;
    }

    figure > img {
      border-radius: 0.75rem;
    }
  }

  .post {
    display: flex;
    flex-direction: column;
    padding: 1.25rem 2rem;
    border-radius: 16px;
    transition-property: background-color;
    transition-duration: 0.05s;
    gap: 0rem;
    width: 100%;

    cursor: pointer;

    background-color: var(--bg-alt);

    &:hover {
      background-color: color-mix(in srgb, var(--secondary) 50%, var(--bg-alt));
    }

    .title {
      margin: 0.5rem 0 0.5rem 0rem;
    }

    .description {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      quotes: none;
      font-size: 1rem;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      margin: 0;

      p {
        font-size: 0.8rem;
        color: var(--text-alt);
        font-weight: 700;
        width: fit-content;
        margin: 0;
      }
    }
  }
}

.loadingPosts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  padding: 3rem 3rem 0rem 1rem;

  width: 100%;
  max-height: 100vh;
  max-height: -webkit-fill-available;
  overflow: hidden;

  * {
    width: min(100%, 600px);
  }

  .inline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    .rssLink {
      padding-right: 2.5rem;
      width: fit-content;
    }
  }

  .loadingBars {
    gap: 1rem;

    .loadingBar {
      height: 10rem;
    }
  }
}

@media (max-width: 52rem) {
  .posts {
    .post {
      padding: 1rem 1.5rem;
    }

    .title {
      font-size: 1.4rem;
    }

    .description {
      font-size: 1rem;
    }
  }

  .posts,
  .loadingPosts {
    padding: 1rem 1rem 3rem 0.5rem;
  }
}
