<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header"{% if page.layout == "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
	<a href="{{ "" | absolute_url }}/" class="logo"><strong>{{ site.title }}</strong> <span>{{ site.subtitle }}</span></a>
	<nav>
		{% if 'posts' == site.tiles-source %}
			{% assign links = site.posts %}
		{% elsif 'pages' == site.tiles-source %}
			{% assign links = site.html_pages | where_exp: "item", "item.show_tile != false" %}
		{% endif %}

		{% for link in links reversed %}
			<a href="{{link.url | relative_url }}">{{ link.title }}</a>
		{% endfor %}
	</nav>
</header>
