html {
  --bg: #131212;
  --bg-alt: #171616;
  --text: #eee;
  --text-alt: #888;
  --primary: #658181;
  --secondary: #1b1f22;
  --accent: #a0c0c0;
}

@media (prefers-color-scheme: light) {
  html {
    --bg: #eeeeee;
    --bg-alt: #e8e8e8;
    --text: #232323;
    --text-alt: #666;
    --primary: #658181;
    --secondary: #dbe0e0;
    --accent: #5c8888;
  }
}

.darkTheme {
  --bg: #131212;
  --bg-alt: #171616;
  --text: #eee;
  --text-alt: #888;
  --primary: #658181;
  --secondary: #1b1f22;
  --accent: #a0c0c0;
}

.lightTheme {
  --bg: #eeeeee;
  --bg-alt: #e8e8e8;
  --text: #232323;
  --text-alt: #666;
  --primary: #658181;
  --secondary: #dbe0e0;
  --accent: #5c8888;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  /*16px*/

  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;

  body {
    padding: 0;
    margin: 0;

    background-color: var(--bg);
    color: var(--text);
    line-height: 1.75;
  }
}

p {
  margin-bottom: 1rem;
  font-weight: 350;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 3rem 0 1.38rem;
  font-weight: 700;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.815rem;
}

h2 {
  font-size: 3.052rem;
}

h3 {
  font-size: 2.441rem;
}

h4 {
  font-size: 1.953rem;
}

h5 {
  font-size: 1.563rem;
}

h6 {
  font-size: 1.25rem;
}

q {
  font-family: var(--font-montserrat);
  font-style: italic;
  font-weight: 300;
  font-size: 1.2rem;
}

.caption,
.endnote {
  font-size: 0.8rem;
  color: var(--text-alt);

  a {
    color: var(--text);
  }
}

.footnote {
  font-size: 10.75px;
  font-weight: 700;
  font-style: italic;
}

pre > code {
  display: inline-block;
  padding: 0.5rem;
}

code {
  font-family: var(--font-ubuntu-mono);
  background-color: var(--bg-alt);
  border-radius: 0.5rem;
  padding: 0.2rem 0.3rem;
  margin: 0 0.2rem;
}

a {
  color: inherit;
  text-decoration: none;
}

p > a,
li > a {
  transition-property: color, box-shadow;
  transition-duration: 0.05s;
  box-shadow: inset 0 -0.1rem 0 var(--text-alt);
  font-weight: 700;

  &:hover {
    text-decoration: none;
    box-shadow: inset 0 -0.5rem 0 var(--accent);
  }
}

blockquote {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 1rem;
  margin-inline-end: 0px;

  box-shadow: inset 0.1rem 0 0 var(--accent);
  padding: 0 1.5rem;

  font-family: var(--font-montserrat);
  font-style: italic;
  font-size: 1.2rem;
}

* {
  box-sizing: border-box;
}

::selection {
  background: var(--accent);
  /* WebKit/Blink Browsers */
}

#skipLink {
  position: absolute;
  top: -100px;
  left: -100px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -1;
}

#skipLink:focus-visible {
  position: absolute;
  top: 5rem;
  left: 1rem;
  font-weight: 700;
  width: auto;
  height: auto;
  z-index: 1;
}

.accent {
  color: var(--accent);
}

.accent-gradient {
  background: linear-gradient(120deg, var(--primary), var(--accent));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.site {
  min-height: 100vh;
  padding: 0;
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-areas: 'sidebar main';
  align-items: start;

  #content {
    min-height: 100vh;
    width: calc(100vw - 8rem);

    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;

    overflow-y: auto;
    flex: 1;
  }

  footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
  }
}

.loadingBars {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;

  touch-action: none;
  -ms-touch-action: none;

  margin: 0;
  padding: 0;
  width: 100%;

  .loadingBar {
    width: 100%;
    height: 1.5rem;
    border-radius: 0.5rem;
    background-color: var(--bg-alt);
  }

  .spacer {
    width: 100%;
    height: 1.5rem;
    background-color: var(--bg);
  }

  @for $i from 1 through 20 {
    .loadingBar:nth-child(#{$i}) {
      animation-name: pulse;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;

      animation-delay: $i * 0.1s;
    }
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 0.6;
    }

    50% {
      transform: scale(0.99);
      opacity: 1;
    }

    100% {
      transform: scale(1);
      opacity: 0.6;
    }
  }
}

@media (max-width: 52rem) {
  header {
    transition-property: box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }

  html[data-scroll='true'] {
    header {
      background-color: var(--bg);
      box-shadow: 0 10px 15px rgb(0 0 0 / 5%);
    }
  }

  .site {
    grid-template-areas: 'main' 'sidebar' 'footer';

    #content {
      padding-top: 3rem;
      width: 100vw;
    }
  }
}
