.navbar {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.5rem 0.5rem 0.5rem 1.5rem;

  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;

  a {
    margin: 0;
    padding: 0;
    max-height: 2.375rem;
  }

  .logo {
    margin-left: -0.4rem;
    svg {
      display: block;
    }
  }

  .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 0.5rem;
    padding: 0 0;
    gap: 2rem;
    bottom: 2rem;
    position: fixed;

    .selected {
      span {
        display: contents;
        color: var(--accent);
      }
    }

    a {
      text-decoration: none;
      color: var(--text);
      
      transition-property: opacity, color, text-indent, box-shadow;
      transition-duration: 0.05s;

      &:hover:where(:not(.selected)) {
        opacity: 0.7;
        color: var(--accent);
      }

      h6 {
        display: none;
      }

      h6 {
        font-size: 1.125rem;
        font-family: var(--font-inter);
        margin: 0;
      }
    }
  }
}

// medium to large desktop
@media (min-width: 52rem) {
  .navbar {
    padding: 1.5rem 2rem 0.5rem 2rem;

    .logo {
      svg {
        display: inline-block;
      }
    }

    .links > a {
      &:hover:where(:not(.selected)) {
        text-decoration: none;
        box-shadow: inset 0.3rem 0 0 var(--accent);
        text-indent: 0.6rem;
        opacity: 1;
        color: var(--text);
      }

      span > svg {
        display: none;
      }

      h6 {
        display: contents;

        span {
          display: none;
        }
      }
    }
  }
}

// small phone screen
// screen width smaller than 768px
@media (max-width: 30rem) {
  .navbar {
    flex-direction: row;
    padding-left: 1rem;
    margin-right: 1.25rem;

    .logo {
      position: fixed;
      top: 1rem;
    }

    .links {
      padding: 0.5rem 0;
      margin-left: -0.1rem;
      bottom: 1rem;
    }
  }
}
