.blogPost {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: auto;
  padding: 0 0 0 2rem;
  max-width: 700px;

  h1 {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.6rem;

    display: block;
    margin-block-start: 2rem;
    margin-block-end: 1.5rem;
  }

  h2 {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 2.05rem;

    display: block;
    margin-block-start: 2rem;
    margin-block-end: 1.5rem;
  }

  h3 {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.4rem;

    display: block;
    margin-block-start: 2rem;
    margin-block-end: 1.5rem;
  }

  h4 {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.4rem;

    display: block;
    margin-block-start: 1rem;
    margin-block-end: 0rem;
  }

  p img {
    width: 100%;
  }

  div canvas {
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    width: 1000px;
    height: 460px;
  }
}

@media (max-width: 800px) {
  .blogPost {
		padding: 0 2rem 2rem 2rem;
	}
}
