.intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  flex: none;
  order: 0;
  flex-grow: 0;

  .title {
    margin: 0;
  }

  .description {
    font-style: normal;
    font-weight: 600;
    quotes: none;
  }
}
