.posts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;

  min-height: 100vh;
  min-height: -webkit-fill-available;
  max-width: 700px;
  width: 100%;

  margin: 0;

  .post {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 2rem;
    border-radius: 16px;
    transition-property: background-color;
    transition-duration: 0.05s;
    gap: 0rem;
    width: 100%;

    cursor: pointer;

    &:hover {
      background-color: var(--bg-alt);
    }

    .title {
      margin: 0.5rem 0 0.5rem 0rem;
    }

    .description {
      quotes: none;
      font-size: 1rem;
    }

    .info {
      display: flex;
      flex-direction: row;
      margin: 0;

      font-size: 0.8rem;
      color: var(--text-alt);
    }
  }

  .loadingBars {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: 0;
    padding: 0;
    width: 100%;
    
    .loadingBar {
      width: 100%;
      height: 2rem;
      border-radius: 0.5rem;
      background-color: var(--text);
    }

    // pulse animation
    // @for $i from 1 through 10 {
    //   .loading-bar:nth-child(#{$i}n) {
    //       animation: pulse #{$i * 0.5}s infinite;
    //   }
    // }

    // @for $i from 1 through 10 {
    //   .myClass .loading-bar:nth-child(#{$i}n) {
    //       animation-delay: #{$i * 0.5}s;
    //   }
    // }
  }
}

// medium desktop and smaller
@media (max-width: 39rem) {
  .posts > .post {
    padding: 1rem 1.5rem;

    .title {
      text-indent: 0;
    }

    .description {
      font-size: 1rem;
    }
  } 
}
