.postPreview {
	display: flex;
	flex-direction: column;

	margin-bottom: 1em;

	.title {
		display: flex;
		flex-direction: row;

		h4 {
			white-space: pre-wrap;
			margin: 0.5em 0 0.2em 0;
		}
	}

	.description {
		display: flex;
		flex-direction: column;

		padding-left: 2rem;
		margin-bottom: 1rem;
		
		.postInfo {
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			font-weight: bold;
			margin-top: 0.5rem;
		}
	}
}