.posts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  min-height: 100vh;
  min-height: -webkit-fill-available;
  max-width: 700px;
  width: 100%;

  padding: 1rem 3rem 6rem 1rem;
  margin: 0;

  .inline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;

    .rssLink {
      padding-right: 2.5rem;
    }
  }

  .post {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 2rem;
    border-radius: 16px;
    transition-property: background-color;
    transition-duration: 0.05s;
    gap: 0rem;
    width: 100%;

    cursor: pointer;

    &:hover {
      background-color: var(--bg-alt);
    }

    .title {
      margin: 0.5rem 0 0.5rem 0rem;
    }

    .description {
      quotes: none;
      font-size: 1rem;
    }

    .info {
      display: flex;
      flex-direction: row;
      margin: 0;

      font-size: 0.8rem;
      color: var(--text-alt);
    }
  }
}

.loadingPosts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  padding: 3rem 3rem 0rem 1rem;

  width: 100%;
  max-width: 700px;
  max-height: 100vh;
  max-height: -webkit-fill-available;
  overflow: hidden;

  .loadingBars {
    gap: 1rem;

    .loadingBar {
      height: 10rem;
    }
  }
}

// medium desktop and smaller
@media (max-width: 39rem) {
  .posts > .post {
    padding: 1rem 1.5rem;

    .title {
      text-indent: 0;
    }

    .description {
      font-size: 1rem;
    }
  }

  .posts,
  .loadingPosts {
    padding: 1rem 1rem 6rem 0.5rem;
  }
}
