@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@font-face {
  font-family: 'TeX Gyre Heroes';
  src: url(fonts/TeX-Gyre-Heros/texgyreheros-regular.otf) format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TeX Gyre Heroes';
  src: url(fonts/TeX-Gyre-Heros/texgyreheros-bold.otf) format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TeX Gyre Heroes';
  src: url(fonts/TeX-Gyre-Heros/texgyreheros-italic.otf) format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'TeX Gyre Heroes';
  src: url(fonts/TeX-Gyre-Heros/texgyreheros-bolditalic.otf) format('opentype');
  font-weight: bold;
  font-style: italic;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --bg: #232323;
  --text: #FAFAFA;
  --accent: #6DEDEF;

  --red: #ff5965;
  --yellow: #ffea64;
  --green: #62ecaa;
  --cyan: #89e3ff;
  --blue: #7299ff;
  --purple: #a571ff;

  /* Increase or decrease the number 
to change the vertical spacing globally*/
  
/* Base Vertical Spacing */
--space: 1.6;

/* Vertical Spacing - multiplier */
    --vspace: calc(var(--space) * 1rem);
    --vspace-0: calc(3 * var(--space) * 1rem);
    --vspace-1: calc(2 * var(--space) * 1rem);
    --vspace-2: calc(1.5 * var(--space) * 1rem);
    --vspace-3: calc(0.5 * var(--space) * 1rem);

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;

  background-color: var(--bg);
}

* {
  box-sizing: border-box;
}

html {font-size: 16px;}

body {
  font-size: 1.1667em;
  // max-width: calc(25 * var(--vspace));
  padding: 0;
  margin: 0 auto;

  color: var(--text);
}

p {
  margin: var(--vspace) 0; 
  line-height: var(--vspace);
}

h1 {
  margin: var(--vspace-1) 0 var(--vspace-1) 0;
  line-height: calc(7.0417/var(--space)* var(--vspace));
}

h2 {
  margin: var(--vspace-2) 0 var(--vspace-3) 0;
  line-height: 1em;
}

h3 {
  margin: var(--vspace-1) 0 var(--vspace-3) 0;
  line-height: 1em;
}

h4, h5, h6 {
  margin: var(--vspace-2) 0 var(--vspace-3) 0;
  line-height: var(--vspace);
}

p {
  margin: var(--vspace) 0; 
  line-height: var(--vspace);;
  
  display: block;
}

caption {
  font-size: 0.8rem;
  line-height: 1.4rem;

  text-align: left;
}

a {
  text-decoration: none;
  color: var(--text);
  transition: 0.2s;

  &:hover {
    text-decoration: none;
    opacity: 70%;
  }
}

.bigtitle, h1 {
  font-family: 'TeX Gyre Heroes', sans-serif;
  font-size: 7.0417em;
  font-weight: bold;
  word-break: break-word;
}

.title, h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5208em; 
  font-weight: bold;
  word-break: break-word;
}

.subheading1, h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.3333em;
  font-weight: bold;
}

blockquote {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3333em;        
  font-style: italic; 
  line-height: calc(1.3333*var(--vspace));
  margin: var(--vspace-2) var(--vspace-2);
}

.subheading2, h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7708em;
  font-weight: bold;
  text-transform: uppercase;
}

.subheading3, h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5417em; 
  font-weight: bold;
  text-transform: uppercase; 
  letter-spacing: .15em;
}

.subheading4, h6 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3333em;
  font-weight: bold;
  font-style: italic;
}

.caption_ts {
  font-size: 1.0208em;
  font-weight: normal;
  font-style: italic;
}

.endnote_ts {font-size: 1.0208em;}

.footnote_ts {
margin: var(--vspace-0) 0 var(--vspace-2) 0;
font-size: 0.8958em;  
border-top: 1px solid #ccc;
line-height: 2em;
}

sup { 
  font-size: 0.8958rem;
  margin: .5em; 
  text-transform: none;
  font-style: italic;
  font-weight: normal;
}

sub { 
  font-size: 0.8958rem;
  margin: .5em; 
  text-transform: none;
  font-style: italic;
  font-weight: normal;
}

pre {
  font-family: 'Ubuntu Mono', monospace;
  border-radius: 0.3rem;

  overflow-x: auto;

  font-size: 16px;
  line-height: 28px;

  code {
    display: inline-block; 
    padding: 1rem;
  }
}

code {
  font-family: 'Ubuntu Mono', monospace;
  border-radius: 0.3rem;
  padding: .2rem .3rem;
  margin: 0 .2rem;
}

.accent {
  color: var(--accent);
}

.canvas {
  height: 460px;
  margin-bottom: 1rem;
  canvas {
    border-radius: 0.5rem;
  }
}

.button p a {
    font-size: 0.8rem;
    line-height: 1.4rem;
    font-weight: bold;
    color: var(--bg);
    background-color: var(--text);

    margin-right: 0.5rem;
    padding: 0.5rem 0.8rem;
    border-radius: 0.5rem;
  }

@media (max-width: 650px) {
  :root {
    font-size: 18px;
    line-height: 30px;
  }
}
