.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;

  flex: none;
  order: 0;
  flex-grow: 0;

  .title {
    margin: 0;
    line-height: 1.4;
    font-family: var(--font-inter);

    span {
      color: var(--accent);
    }
  }

  .description {
    quotes: none;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.7;
  }

  #bg_canvas {
    bottom: 0;
    left: 0;

    max-height: 100vh;
    overflow: hidden;
  }
}

// screen width > 768px
@media (min-width: 52rem) {
  .intro {
    flex-direction: row;
    align-items: center;
  }
}

// small screems
@media (max-width: 39rem) {
  .intro > .description {
    font-weight: 600;
  }
}
