.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .main {
    display: flex;
    flex-direction: column;
    flex: 1;

    justify-content: center;
    align-items: center;

    padding: 5em 0;

    .welcome {
      display: flex;
      flex-direction: row;

      justify-content: center;
      align-items: center;

      padding-bottom: 2em;

      .title {
        min-width: none;
        margin-right: 1em;

        span.accent {
          color: var(--accent);
        }
      }

      .description {
        display: flex;
        flex-direction: column;

        font-weight: medium;
        line-height: 1.6rem;
        text-align: left;

        .line {
          display: inline-block;
        }
      }
    }
  }

  .typing {
    justify-self: end;
    align-self: flex-start;

    margin: 1rem 0 1.6em 2.4em;

    p {
      font-family: 'Ubuntu Mono', sans-serif;
      font-weight: 600;
      .bash {
        color: var(--accent);
      }
    }
  }
}

@media (max-width: 800px) {
  .container {
    .main {
      padding: 0;

      .welcome {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
}
