.text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    margin: auto;
    padding: 0 2rem 2rem 2rem;
    max-width: 750px;
  }
  
  .media-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    margin: auto;
    padding: 0 2rem 2rem 2rem;
    max-width: 1400px;
  }
  