.navbar {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.5rem 0.2rem 0.5rem 1rem;

  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;

  a {
    margin: 0;
    padding: 0;
    max-height: 2.375rem;
  }

  .logo {
    margin-left: -0.2rem;
    svg {
      display: block;
    }
  }

  .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 0.5rem;
    padding: 0 0;
    gap: 2rem;
    bottom: 2rem;
    position: fixed;

    a {
      text-decoration: none;
      color: var(--text);
      
      transition: opacity 0.1s ease-in-out, color 0.1s ease-in-out;

      &:where(.selected) {
        color: var(--accent);
      }

      &:hover:where(:not(.selected)) {
        color: var(--accent);
      }

      h6 {
        display: none;
        font-size: 1.125rem;
        font-family: var(--font-inter);
        margin: 0;
      }
    }
  }
}

// medium to large desktop
@media (min-width: 52rem) {
  .navbar {
    padding: 1.5rem 2rem 0.5rem 2rem;

    .logo {
      svg {
        display: inline-block;
      }
    }

    .links > a {
      span > svg {
        display: none;
      }

      h6 {
        display: contents;

        span {
          display: inline-block;
          width: 0;
          margin: 0;
          border-radius: 0.1rem;
          transition: width 0.1s ease-in-out, margin-right 0.1s ease-in-out;
        }
      }

      &:where(.selected) {
        opacity: 1;
        color: var(--text);

        h6 > span {
          display: inline-block;
          background-color: var(--accent);
          width: 0.2rem;
          margin-right: 0.3rem;
        }
      }

      &:hover:where(:not(.selected)) {
        opacity: 1;
        color: var(--text);

        h6 > span {
          display: inline-block;
          background-color: var(--accent);
          width: 0.2rem;
          margin-right: 0.3rem;
        }
      }
    }
  }
}
