.postContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;

  width: 100%;
  max-width: 600px;
  font-size: 18px;
  font-weight: 425;
  padding: 1rem 3rem 6rem 1rem;

  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }

  h4,
  h5 {
    margin-top: 1.5rem;
  }
  h6 {
    margin-top: 1rem;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;

    border-radius: 0.75rem;
  }

  pre {
    overflow: auto;
    overflow-x: scroll;
    word-wrap: break-word;
    max-width: 100%;
    width: 100%;
    max-height: 80vh;
    margin: 0;
    padding: 0;
    border-radius: 0.5rem;
    background-color: var(--bg-alt);
    line-height: 1.7;
  }
}

.loadingPostContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  padding: 1rem 3rem 0rem 1rem;

  width: 100%;
  max-width: 600px;
  height: 100vh;
  overflow: hidden;

  .loadingBars {
    align-items: flex-start;
    margin-top: 2rem;
    
    .loadingBar, .spacer {
      border-radius: 0.25rem;
    }

    .loadingBar:nth-child(1) {
      height: 20rem;
      border-radius: 1rem;
    }
    .loadingBar:nth-child(3) {
      height: 2.5rem;
      max-width: 80%;
      border-radius: 0.5rem;
    }
    .loadingBar:nth-child(6n+5) {
      max-width: 90%;
      align-self: flex-end;
    }
    .loadingBar:nth-child(6n+9) {
      max-width: 75%;
    }

    @for $i from 1 through 20 {
      .loadingBar:nth-child(#{$i}) {
        animation-delay: $i * 0.05s;
      }
    }
  }
}

@media (max-width: 39rem) {
  .postContent, .loadingPostContent {
    padding: 1rem 1rem 6rem 0.5rem;
  }
}
