@mixin longform-text {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }

  h1 {
    font-size: 2rem;
    font-weight: 700;
  }

  h2 {
    font-size: 1.75rem;
    font-weight: 700;
    margin-top: 1.5rem;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 1.25rem;
  }

  h4 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 1rem;
  }

  h5 {
    font-size: 1rem;
    font-weight: 700;
    margin-top: 0.75rem;
  }

  h6 {
    font-size: 0.875rem;
    font-weight: 700;
    margin-top: 0.5rem;
  }

  blockquote {
    max-width: min(100%, calc(550px - 3rem));
  }

  ul {
    margin-block-start: -1rem;
  }

  pre {
    overflow: auto;
    overflow-x: scroll;
    word-wrap: break-word;
    width: min(100%, 650px);
    max-height: 80vh;
    margin: 0;
    padding: 0;
    border-radius: 0.5rem;
    background-color: var(--bg-alt);
    line-height: 1.7;
    code {
      width: min(100%, 650px);
    }
  }

  figure {
    margin-inline: 0;
  }
}

@mixin table-of-contents {
  max-height: fit-content;
  animation: fadein 2s;
  padding: 0 0 0 2rem;
  max-width: 8rem;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  z-index: 1;

  p {
    transition: opacity 0.2s ease-in-out, color 0.1s ease-in-out;
    text-overflow: clip;
    overflow: visible;
    white-space: nowrap;

    font-family: var(--font-inter);
    font-size: 0.85rem;
    font-weight: 500;
    line-height: 3rem;
    color: var(--text);
    opacity: 0.5;
    max-width: 8rem;
    margin: 0;

    mask: linear-gradient(90deg, #000 20%, transparent);

    &:hover {
      mask: linear-gradient(90deg, #000 80%, transparent);
      max-width: 8rem;
      opacity: 0.75;
    }
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.toc {
  @include table-of-contents;
}

.postContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;

  width: 100%;
  font-size: 18px;
  font-weight: 425;
  padding: 1rem 3rem 6rem 1rem;

  * {
    width: min(100%, 550px);
  }

  @include longform-text;

  .kg-card {
    margin: 0;
  }

  .kg-embed-card {
    width: auto;
  }

  p > img, .kg-card > img {
    max-width: min(100%, 650px);
    max-height: 750px;
    width: auto;
    height: auto;
    border-radius: 0.75rem;
  }

  .image-carousel {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-self: center;
    gap: 1rem;

    max-width: min(100%, 1000px);
    width: auto;
    overflow-x: scroll;

    img {
      max-height: 600px;
    }
  }

  p:where(:has(img)) + .caption {
    margin-top: -1rem;
    align-self: center;
  }

  hr {
    margin-block: -1rem;
    border-bottom: 1px;
    border-inline: 0;
    border-color: var(--accent);
  }
}

.loadingPostContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  padding: 1rem 3rem 0rem 1rem;

  width: 100%;
  max-width: 600px;
  height: 100vh;
  overflow: hidden;

  .loadingBars {
    align-items: flex-start;
    margin-top: 2rem;

    .loadingBar,
    .spacer {
      border-radius: 0.25rem;
    }

    .loadingBar:nth-child(1) {
      height: 20rem;
      border-radius: 1rem;
    }
    .loadingBar:nth-child(3) {
      height: 2.5rem;
      max-width: 80%;
      border-radius: 0.5rem;
    }
    .loadingBar:nth-child(6n + 5) {
      max-width: 90%;
      align-self: flex-end;
    }
    .loadingBar:nth-child(6n + 9) {
      max-width: 75%;
    }

    @for $i from 1 through 20 {
      .loadingBar:nth-child(#{$i}) {
        animation-delay: $i * 0.05s;
      }
    }
  }
}

@media (max-width: 70rem) {
  .postContent,
  .loadingPostContent {
    padding: 1rem 1rem 3rem 0.5rem;
  }
}

@media (max-width: 52rem) {
  .toc {
    display: none;
  }
}
