@import 'layout';

.projects {
  @extend .media-content;
  max-width: 1800px;

  h2 {
    margin-bottom: 3.2rem;
  }

  a > .projectPreview {
    display: flex;
    flex-direction: row;
    padding-top: 2rem;
    padding-bottom: 2rem;

    .graphic {
      display: flex;
      flex-direction: row;
      align-items: center;

      .accent {
        object-fit: cover;
        width: 500px;
        height: 600px;
        border-radius: 0.5rem;
      }

      .preview {
        object-fit: contain;
        width: 450px;
        height: 400px;
        filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.3));
        border-radius: 0.5rem;
      }
    }

    a {
      display: flex;
      justify-content: center;
    }

    .description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 600px;
      margin: 3rem;

      h2 {
        margin-bottom: 1.2rem;
      }
    }
  }
}

@media (min-width: 1200px) {
  a:nth-child(2n) > .projectPreview {
    flex-direction: row;
    .graphic {
      flex-direction: row;
      margin-right: 3.2rem;

      .preview {
        margin-left: -11rem;
      }
    }
  }
  a:nth-child(2n + 1) > .projectPreview {
    flex-direction: row-reverse;
    .graphic {
      flex-direction: row-reverse;
      margin-left: 3.2rem;

      .preview {
        margin-right: -11rem;
      }
    }
  }
}

@media (max-width: 1200px) {
  .projects > a > .projectPreview > .graphic {
    .accent {
      width: 350px;
      height: 400px;
    }
    .preview {
      width: 350px;
      height: 300px;
    }
  }
  a:nth-child(2n) > .projectPreview {
    flex-direction: row;
    .graphic {
      .preview {
        margin-left: -13rem;
      }
    }
  }
  a:nth-child(2n + 1) > .projectPreview {
    flex-direction: row-reverse;
    .graphic {
      flex-direction: row-reverse;
      margin-left: 3.2rem;
      .preview {
        margin-right: -13rem;
      }
    }
  }
}

@media (max-width: 900px) {
  .projects > a > .projectPreview > .graphic {
    .accent {
      width: 300px;
      height: 350px;
    }
    .preview {
      width: 300px;
      height: 250px;
    }
  }
  a:nth-child(2n) > .projectPreview {
    .graphic {
      .preview {
        margin-left: -13rem;
      }
    }
  }
  a:nth-child(2n + 1) > .projectPreview {
    .graphic {
      margin-left: 3.2rem;
      .preview {
        margin-right: -13rem;
      }
    }
  }
}

@media (max-width: 800px) {
  .projects > a > .projectPreview {
    flex-direction: column !important;
    margin-bottom: 5rem;
    .graphic {
      margin: 0 !important;
      .accent {
        width: 50%;
        height: 300px;
      }
      .preview {
        height: 200px;
      }
    }
    .description {
      margin-top: 0rem;
      margin-bottom: 1rem;
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
  }
  a:nth-child(2n) > .projectPreview {
    .graphic {
      .preview {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
      }
    }
  }
  a:nth-child(2n + 1) > .projectPreview {
    .graphic {
      margin-left: 3.2rem;
      .preview {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
      }
    }
  }
}
